<!DOCTYPE html>
<html>
<head>
<title>scan2drive: setup</title>
<meta http-equiv="X-UA-Compatible" content="chrome=1" />
<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
<style is="custom-style" include="iron-flex iron-flex-alignment">
body {
	margin: 0;
	padding: 0;
}
#user-avatar {
	border-radius: 50%;
	height: 32px;
	width: 32px;
	margin-left: 0.5em;
}
</style>
</head>
<body>
  
  <nav class="indigo lighten-1" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">scan2drive</a>
      
      <ul class="right hide-on-med-and-down valign-wrapper">
	<li><a href="#settings-dialog"><i class="material-icons">settings</i></a></li>
	<li class="valign-wrapper" style="line-height: 16px; margin-left: 1em">
	  <div>
	    <span id="user-name" data-sub="{{ .sub }}">Not logged in</span><br>
	    <a href="#" id="signout" style="display: none">Sign out</a>
	  </div>
	  <img id="user-avatar" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNgYAAAAAMAASsJTYQAAAAASUVORK5CYII=" class="circle responsive-img valign">
	</li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#"><i class="material-icons">settings</i></a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 m12">

	  <h1>Initial Setup</h1>
<p>
You’re seeing this page because the OAuth client secret could not be read from <code>{{ .ClientSecretPath }}</code> (configured via the <code>-client_secret_path</code> flag).
</p>
<ol>
<li>Use <a href="https://console.developers.google.com/start/api?id=drive">Google’s wizard</a> to create a new cloud project and turn on the Drive API.</li>
<li>On the <strong>Add credentials to your project</strong> page, click the Cancel button.</li>
<li>At the top of the page, select the <strong>OAuth consent screen</strong> tab. Select an <strong>Email address</strong>, enter a <strong>Product name</strong>, and click the <strong>Save</strong> button.</li>
<li>Select the <strong>Credentials</strong> tab, click the <strong>Create credentials</strong> button and select <strong>OAuth client ID</strong>.</li>
<li>Select the application type <strong>Web application</strong>, enter the name “scan2drive”, add the URLs under which you are going to access scan2drive to <strong>Authorized JavaScript origins</strong> (e.g. <code>http://localhost:7120</code> and <code>http://scan2drive.lan:7120</code>), and click the <strong>Create</strong> button.</li>
{{ if .CanWriteClientSecret }}
<li>Copy &amp; paste the values into this form:

  <form method="post" action="/setup" id="setup-form">
    <label for="clientid">Client ID:</label><br>
    <input id="clientid" name="clientid" label="Client ID" required placeholder="Client ID (ending in .apps.googleusercontent.com)" style="width: 100%"><br>

    <label for="clientsecret">Client secret:</label><br>
    <input id="clientsecret" name="clientsecret" label="Client secret" required placeholder="Client secret" style="width: 100%"><br>

    <button type="submit">Setup</button>
  </form>

</li>
{{ else }}
<li>Dismiss the popup and click the download JSON button next to the newly created credential.</li>
<li>Avail the downloaded JSON credential file as <code>{{ .ClientSecretPath }}</code>.</li>
{{ end }}
</ol>

        </div>
      </div>
    </div>
  </div>

  </body>
</html>
